<div class="modal-header">
    <h3 class="modal-title">Forgot your password?</h3>
</div>
<div ng-show="loading" class="center">
    <div class="gauge-loader">
        Loading…
    </div>
</div>
<div class="modal-body">
    <div class="form-group" ng-show="!messageSent && !messageFailed && !loading">
        <input type="text" ng-model="forgotPasswordEmail" placeholder="Your Email"/>
    </div>
    <div ng-show="messageSent && !loading">
        Your password has been emailed to you!
    </div>
    <div ng-show="messageFailed && !loading">
        Please make sure your email exists or try again later.
    </div>
</div>
<div ng-hide="loading" class="modal-footer">
    <div ng-show="!messageSent && !messageFailed">
        <button class="btn btn-primary" type="button" ng-click="forgotPassword()">Submit</button>
    </div>
    <div ng-show="messageSent || messageFailed">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Ok</button>
    </div>
</div>