<div ng-show="loading" class="gauge-loader">
    Loading…
</div>

<div id="privacy-policy" ng-hide="loading">
    <h1>PRIVACY POLICY</h1>
    <br/>

    <p>for 2Banonymous.com and mobile app</p>
    <br/>

    <p>Effective Date: 7/14/16</p>
    <br/>

    <p>Last Modified: 7/14/16</p>
    <br/>
    <br/>

    <p>2B Anonymous, Inc. (“Company”) is the operator of the above-listed website(s) (the “Site”) and the seller of the
        2B
        Anonymous™ app (the “App”). When “Services” are mentioned in this Policy, such reference includes providing the
        app
        and the features of the Site. When first-person pronouns are used in this Policy (We, Our, etc.), they are
        referring
        to 2B Anonymous, Inc.</p>
    <br/>

    <p> We have developed this Privacy Policy to explain what type of information we collect, how we use such
        information,
        and how we protect it. Since the Site and Services allow some third-party connectivity, please be aware that
        this
        Policy only covers information for which we have asked of you or for which we can control via the App and Site.
        As
        you surely understand, we cannot be responsible for how third-parties protect any information which you may have
        provided to them, even if such information was provided by You via Our Services.</p>
    <br/>

    <p>We are determined and committed to maintaining a great relationship with you and the Pixel Lords™ community, and
        we
        look forward to providing you with a safe and secure experience while you use the Site and Services.</p>
    <br/>

    <p>Changes to this Policy</p>
    <br/>

    <p>We reserve the right to revise, amend, or modify this Policy at any time. However, if we change anything in this
        Policy, we will change the “Last Revised” date appearing at the top of the Policy. You should therefore check
        this
        webpage frequently to see if anything has changed. Your continued use of the Site and Services after any such
        change
        shall constitute your assent and agreement to any such revisions.</p>
    <br/>

    <p>Information that We Collect</p>
    <br/>

    <p>Visitors and Users of the Site and Services may interact with our Site and App in different ways. For example,
        Visitors are people who may visit the Site but not necessarily sign up to use the App. We collect different
        information from Visitors than Users, and vice versa.</p>
    <br/>

    <p>A. Users - Users interact with the Site and Services in a way which requires registration so that the User may
        then
        utilize interactive features of the App and Site, such as sending messages through the App. When registering to
        become a User, You will be prompted to provide a valid e-mail address, telephone number, Your city/state, and
        Your
        name.</p>
    <br/>

    <p>In addition to the information that we actively collect during registration, You will likely provide additional
        information to Us on a voluntary basis as you use the Site and App. This information, which We may store as part
        of
        the features of the App and Site, includes any messages or calls sent by You, and, the related information
        concerning such calls or messages, including the recipient information, recipient address, timestamps, and other
        message-state information.</p>
    <br/>

    <p>B. Visitors – Visitors are people who do not actively provide content via the App or Site, nor do they create an
        account with Us. However, as described below, the Site may still collect information from Visitors. Any
        information
        gathered from Visitors is also gathered from Users. This information is restricted to cookies, IP addresses and
        referral URLs, and other passive information gathering devices, as explained below.</p>
    <br/>

    <p>How We Collect Information from You</p>
    <br/>

    <p>A. Passive Collection – We use cookies to collect information about You and Your use of the Site and Services in
        order to enhance Your experience with the Site and Services, such as storing session data so that Your
        preferences
        are stored. The information collected in Our cookies may include, but is not limited to, Your IP address,
        geographic
        location, and referral information.</p>
    <br/>

    <p>B. Active Collection – We also collect information from you, such as your name, e-mail address, city/state, and
        mobile number when You complete registration forms to sign up as a User.</p>
    <br/>

    <p>How We Use Your Information</p>
    <br/>

    <p>Our primary use of any information that We collect from You is to provide You with the App and Services which We
        advertise via the Site and other mobile app marketplaces. In other words, We use the information for the purpose
        for
        which You provided it.</p>
    <br/>

    <p>With the limited exceptions found in the Special Cases section below, We will never sell, rent, or disclose your
        personal information without Your permission. Personal information includes all personally identifiable
        information
        that You provide in order to use the App, and which We actively collect.</p>
    <br/>

    <p>We contract with certain third parties to provide you with the App, Site and Services. These parties may include
        billing processors, data centers for hosting the App, Site, Services, and other vendors needed to provide the
        App,
        Site and Services. While We expect that those third-parties will respect and keep private all information for
        which
        they have access, We cannot guarantee that data breaches or other unauthorized access to Your information,
        including
        messages You send through Our Services, will not occur.</p>
    <br/>

    <p>Special Cases.</p>
    <br/>

    <p>We endeavor to not use or share personally identifying information about You in ways unrelated to those described
        in
        this Policy without also providing You with an opportunity to opt-out or otherwise prohibit the unrelated uses
        or
        disclosures. However, there may be special circumstances in which we need to disclose, with or without Your
        knowledge, personal information about You, or information regarding Your use of the Site or Services,
        including:</p>
    <br/>

    <p>1. To bring legal action against someone who may be violating our Terms & Conditions or other policies;</p>

    <p>2. If We are compelled to do so by lawful criminal, civil, or administrative process, subpoenas, or court
        orders.</p>

    <p>3. If We suspect credit card fraud or abuse, or other fraudulent activity.</p>

    <p>4. If We sell or transfer the App, Site or Services to a third party; however, We will first notify You to inform
        You
        of such sale or transfer.</p>
    <br/>
    <br/>
    Public Areas</p>
    <br/>
    The App, Site and Services may offer You with the ability to publicly post information, such as via a discussion
    forum, chat room, or other public or semi-public area. We cannot act to maintain the privacy of any information that
    You provide in any such public or semi-public area of the App, Site or Services. Any information You post in such
    areas should be considered immediately and indefinitely public.</p>
    <br/>

    <p>Our Commitment to Data Security</p>
    <br/>

    <p>We take measures to protect the storage and transmission of Your information. We make every reasonable effort to
        ensure the integrity and security of the network and systems which are under Our control; however, We cannot
        guarantee that our efforts will prevent third-parties from illegally obtaining this information from Us or the
        vendors We use to provide the App, Site and Services. Given the resourcefulness of hackers, We are unable to
        guarantee that our security, including that of Our vendors, is wholly breach-proof. You assume the risk of such
        breaches to the extent that they occur despite Our reasonable security measures.</p>
    <br/>
    <br/>

    <p>We encourage You to contact Us if you have any questions, concerns, or comments about this Policy. You may
        contact Us
        at customerservice@2banonymous.com.</p>

</div>