<div ng-show="loading" class="gauge-loader">
    Loading…
</div>

<div id="terms-of-use" ng-hide="loading">
    <h1 align="center"><strong>LICENSE AND TERMS OF USE</strong></h1>
    <br/>

    <p align="center"><strong>2B Anonymous Web and Mobile app</strong></p>

    <p align="center"><strong>&nbsp;</strong></p>

    <p align="center"><strong>Effective Date: 7/14/16</strong></p>

    <p align="center"><strong>Last Modified: 7/14/16</strong></p>

    <p align="center"><strong>&nbsp;</strong></p>

    <p align="center">&nbsp;</p>
    <ol>
        <li><strong>1.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>PRELIMINARY ISSUES:</strong></li>
    </ol>
    <p>This document (the &ldquo;Agreement&rdquo;) is a legally-binding contract that will govern the relationship
        between You and Us as You use Our 2B Anonymous&trade; App (the &ldquo;App&rdquo;) and the 2B Anonymous Website
        (The &ldquo;Site&rdquo; or &ldquo;Website&rdquo;), (collectively the &ldquo;Services&rdquo;).&nbsp; Therefore,
        it is very important that you read and understand this Agreement before using the App or Site.</p>

    <p>We hope that You thoroughly enjoy Our App, and We anticipate that You will find the App valuable to use.&nbsp;
        Should You have any questions or comments regarding Our Services, or the policies governing the Services, please
        feel free to contact Us via: customerservice@2banonymous.com.&nbsp; The laws of Your individual city, county,
        state, province
        or nation may regulate the activities made available by the Services.&nbsp; Check your local laws before taking
        part in any such activities.</p>

    <p>&nbsp;</p>

    <p>We understand that anonymity requires responsibility, and it is Our sincere hope that You use the App for good
        and that You do not use it to bully, abuse, or harass other, which is a violation of this Agreement and may
        result in You being denied access to the App.&nbsp;</p>

    <p>&nbsp;The App and Services are only intended for use by those older than 13 years of age!&nbsp; By using the App
        or Services, You warrant and represent that You are over the age of 13.</p>

    <p><span style="text-decoration: underline;">Party Definitions</span>:</p>

    <p><strong>1.1.&nbsp; </strong>&nbsp;2B Anonymous, Inc. (&ldquo;Company&rdquo;) is the operator of the
        above-referenced Site and App, through which Company provides its Services.</p>

    <p><strong>1.2.&nbsp; </strong>This Agreement will refer to any and all Users of the Site and Services as &ldquo;User&rdquo;
        or &ldquo;You&rdquo; and other second-person pronouns.</p>

    <p><span style="text-decoration: underline;">Assent and Changes to the Agreement</span>:</p>

    <p><strong>1.3.&nbsp; </strong>By clicking the &ldquo;I agree&rdquo; button or by accessing, visiting, browsing,
        registering, using or attempting to interact with any part of the App or Services, You agree that You have read,
        understand and agree to be bound by this Agreement, and that You have entered into a legally-binding contract
        with Us.&nbsp; Consideration for Your agreement to the provisions herein is found by Your use or visitation of
        the App and/or Site.</p>

    <p><strong>1.4.&nbsp; </strong>You represent and agree that You will not use the App or Services if doing so would
        violate the laws of Your state, country, or province.&nbsp; You further represent and agree that You will not
        use the Site or Services for illegal purposes or engage in any of the restrictions on use as outlined below.</p>

    <p><strong>1.5.&nbsp; </strong>Use of the App and Services is restricted to those who are over the age of thirteen
        (13).&nbsp; You certify that you are over thirteen (13) years of age.</p>

    <p><strong>1.6.&nbsp; </strong>We reserve the right to make changes to this Agreement.&nbsp; If We change anything
        in this Agreement, We agree that We will change the &ldquo;Last Revised&rdquo; date appearing at the top of this
        Agreement.&nbsp; You should therefore check this Agreement frequently to see if anything has changed.&nbsp; Your
        continued use of the App or Site after any such change shall constitute Your assent and agreement to abide by
        any such revisions. The most current version of this Agreement, which supersedes all previous versions, can be
        reviewed by clicking on the &ldquo;<a
                style="color: #000;" href="#/terms-of-use">Terms of Use</a>&rdquo;.</p>

    <p><strong>1.7.&nbsp; </strong><strong>Incorporations by Reference.</strong>&nbsp; While this Agreement represents
        the primary terms regarding Your use of Our App, additional guidelines and policies are hereby incorporated by
        reference.&nbsp; The following documents are specifically incorporated by reference, and are therefore part and
        parcel of this Agreement:</p>

    <p><a style="color: #000;" href="#/privacy-policy">Privacy Policy</a></p>
    <ol>
        <li><strong>2.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>ACCESS TO THE APP AND SITE</strong></li>
    </ol>
    <p><strong>2.1.&nbsp; </strong>To access the App&rsquo;s features, You may be asked to provide certain registration
        details or other information (&ldquo;Registration Data&rdquo;). It is a condition of Your use of this Site and
        Services that all the information You provide through the Site, including Registration Data, will be correct,
        current, and complete. If We believe the information You provide is not correct, current, or complete, We have
        the right to refuse you access to the App or Services, and to terminate or suspend Your account at any time.</p>

    <p><strong>2.2.&nbsp; </strong>Some of the Registration Data You provide, as well as other of Your Content, as
        defined below, may be personal, private, or otherwise sensitive.&nbsp; It is Your responsibility to keep that
        information up to date and accurate.&nbsp; While we use commercially reasonable efforts to protect all
        information which You provide to Us, it may be technically impossible to prevent determined third-party hackers,
        phishers, or scammers from obtaining such information through nefarious means.&nbsp; For that reason, We cannot
        be responsible for the intentional and criminal acts of those third parties, nor can We be responsible for Your
        negligence with regard to Your Content, including the Registration Data.</p>

    <p><strong>2.3.&nbsp; </strong>You are responsible for all activity transpiring under Your account.&nbsp; We
        disclaim any and all liability arising from fraudulent use of the App and Services.&nbsp; Given Our commitment
        to security, We may terminate, suspend, or otherwise cancel any account that appears, in Our sole discretion, to
        be engaging in fraudulent or suspicious use.</p>

    <p><strong>2.4.&nbsp; </strong>Since You are responsible for all activity transpiring under Your account, You agree
        that You will immediately notify Us should You suspect that there has been any unauthorized activity associated
        with Your account or other use of the App or Services.</p>

    <p><strong>2.5.&nbsp; </strong>Subject to Your acceptance of this Agreement, We grant You a limited, nonexclusive,
        nontransferable personal license to access and use the App and the Services.&nbsp; This license is not a sale of
        the App or Services.&nbsp; All rights to the App and Services not expressly granted to You are reserved by Us.&nbsp;
        Unless otherwise terminated by You due to Your deletion of the App, or otherwise terminated by Us under this
        Agreement, this license shall remain in effect for as long as We provide the App and Services to You and You use
        the Services.</p>

    <p><strong>2.6.&nbsp; </strong>By using the App and Services, and by assenting to this Agreement by Your use of the
        App and Services, You hereby affirmatively consent to receiving messages from other users, with the
        understanding that such messages or content may contain offensive or otherwise objectionable content.&nbsp; You
        also agree and understand that to protect the integrity and mission of the App, which is to allow anonymous
        messaging, unless ordered to do so as outlined in Our Privacy Policy, We will not disclose to You the identity
        of the sender of any message sent through Our App, to the extent that We know such identity.</p>

    <p><strong>2.7.&nbsp; </strong>You agree that You must keep all billing information current throughout Your use of
        the App and Services.&nbsp; If We are unable to receive any payment due to Us because You failed to update such
        payment information with the applicable payment processor, We have the right to suspend, terminate, or otherwise
        disable Your account.&nbsp; You agree that You are responsible for any chargebacks or other fees that We may
        incur while trying to process Your payment(s).</p>

    <p><strong>2.8.&nbsp; </strong><span style="text-decoration: underline;">Termination of Your Access</span>:</p>

    <p><strong>2.8.1.&nbsp;&nbsp;&nbsp;&nbsp; </strong>We may suspend or terminate Your access to the App and Services,
        without notice, if You, in Our discretion, have breached any provision of this Agreement, or the policies and
        other documents incorporated by reference.</p>

    <p><strong>2.8.2.&nbsp;&nbsp;&nbsp;&nbsp; </strong>Additionally, we reserve the right to cease operations of the App
        and Services at any time and for any reason, and You agree that such cessation will be without liability or harm
        to You.</p>

    <p><strong>2.8.3.&nbsp;&nbsp;&nbsp;&nbsp; </strong>You understand and agree that We shall not be liable to Your for
        any reason in the event that We suspend, terminate, or otherwise cancel Your access to the App and Services.&nbsp;
    </p>

    <p><strong>2.9.&nbsp; </strong><span style="text-decoration: underline;">Service Interruptions</span>: Due to
        factors outside of Our control, as well as certain factors within Our control, such as software and hardware
        upgrades, the App may be temporarily unavailable.&nbsp; You agree to hold Us harmless for any such interruption,
        whether or not such interruption was planned and whether or not We notified You of any interruption.</p>

    <p><strong>2.10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><span
            style="text-decoration: underline;">Third Party Links</span>: The Site and App may be hyperlinked to other
        sites which are not maintained by, or related to Our Site or app. Links to such sites are provided as a service
        to Our Users and are not sponsored by or affiliated with Us. We likely have not reviewed any or all of such
        sites and We are not responsible for the content of those sites. You access such third-party sites at Your own
        risk, and We make no representations or warranties about the content, completeness or accuracy of these links or
        the sites linked to this Site and Services. We provide links as a convenience, and the inclusion of any link to
        a third-party site does not necessarily imply Our endorsement of such site.&nbsp; Third party sites are subject
        to their own terms and privacy policies.</p>
    <ol>
        <li><strong>3.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>GENERAL RESTRICTIONS ON USE AND LICENSE TO USE YOUR
            CONTENT</strong></li>
    </ol>
    <p><strong>3.1.&nbsp; </strong>As a condition of Your use of the app and services, You warrant to Us that You will
        not use the App or Services for any purpose that is unlawful or prohibited by this Agreement or by law.</p>

    <p><strong>3.2.&nbsp; </strong>The App and Services may allow You to upload or otherwise submit to Us text, images,
        video, and other content (&ldquo;Your Content&rdquo;).&nbsp; While Our App and Services may provide You with
        certain materials, including computer code, images, text, audio, video, and other content provided or licensed
        by Us (&ldquo;Site Materials&rdquo;), any content provided by You shall be considered Your Content.&nbsp; To
        protect Ourselves and Our Users, You understand and agree that We may, in Our sole discretion, delete or disable
        any of Your Content which we deem to be in violation of this Agreement, or any law or regulation.</p>

    <p><strong>3.3.&nbsp; </strong>By uploading or providing any of Your Content to the Site or Services, You warrant
        and represent that You own all intellectual property rights, privacy and publicity rights, and any other right
        required for You to make Your Content available via the Site or Services.&nbsp; Also, in order for Us to provide
        You with the Services, You hereby irrevocably grant Us a worldwide, perpetual, royalty-free and non-exclusive
        license to:</p>

    <p><strong>3.3.1.&nbsp;&nbsp;&nbsp;&nbsp; </strong>Use, reproduce, modify, adapt, publish, translate, create
        derivative works from, distribute, perform, and display all of Your Content on the Site or Services, by means of
        any technology now known or hereafter to become known.</p>

    <p><strong>3.3.2.&nbsp;&nbsp;&nbsp;&nbsp; </strong>The above license shall be granted to Us in accordance with the
        Site&rsquo;s Privacy Policy.&nbsp; This license is not intended to use Your Content for any other purpose than
        to provide You with the Services and to transmit Your Content through the App.&nbsp;</p>

    <p><strong>3.4.&nbsp; </strong><strong>Section 230 Notice</strong>: Pursuant to 47 U.S.C. &sect; 230 (the &ldquo;Communications
        Decency Act&rdquo; or &ldquo;CDA&rdquo;), You understand that We are a &ldquo;provider of an interactive
        computer service&rdquo; which makes us immune from liability for certain claims arising from Our publication of
        Your Content.&nbsp; As part of Our Section 230 immunity, We must inform You that there are filtering services
        available which may help You in preventing a minor&rsquo;s access to harmful material.&nbsp; You may research
        these services at <a href="http://www.onguardonline.gov">www.onguardonline.gov</a>.&nbsp; Note that We are
        providing the previous link for information purposes only, and We cannot endorse or warrant any third-party
        products You may find or use via such research.</p>

    <p><strong>3.5.&nbsp; </strong>By accepting this Agreement and using the App or Services, We grant You a single
        limited, revocable, nonexclusive and nontransferable license to access and use the Site Materials. The App,
        Services, and Site Materials are for Your personal, non-commercial use only.&nbsp; Should We terminate Your
        account or access to the App, Site or Services, the license granted in this paragraph shall immediately
        terminate and any continued access or use of the App, Site, Services, or Site Materials shall be unauthorized.&nbsp;
        The Site Material and certain other content accessible from the Site and Services is the proprietary information
        of Company or the party that provided or licensed the content to Company, whereby such providing party retains
        all right, title, and interest in such content. Accordingly, the Site Materials may not be copied, distributed,
        republished, uploaded, posted, or transmitted in any way without Our prior written consent. Modification or use
        of the Site Materials except as expressly provided in this Agreement violates Our intellectual property rights.
        Neither title nor intellectual property rights are transferred to You by using the App, Site or Services.</p>

    <p><strong>3.6.&nbsp; </strong>We respect the intellectual property rights of others, and We have developed and
        adopted a policy to terminate the accounts of repeat copyright infringers pursuant to the Digital Millennium
        Copyright Act.&nbsp; Copies of our Repeat Infringer Policy are available upon request to Our Users.</p>

    <p><strong>3.7.&nbsp; </strong>You understand and acknowledge that the App does not have the capacity to store or
        produce telephone numbers to be called or texted using a random or sequential number generator.&nbsp; All calls,
        texts, and other transmissions via the App are initiated solely by You, the user of the App, via Your entry of,
        or provision of, the recipient&rsquo;s telephone number or other destination address.&nbsp;</p>

    <p><strong>3.8.&nbsp; </strong>Additional Features:&nbsp; As explained above, the App and/or Site may allow You to
        use certain SNSs, such as Twitter and Facebook, or, e-mail and SMS text, to inform persons of Your choosing
        about the Services or Your participation in the App or Services.&nbsp; At Your direction, the App or Services
        may access the address book on Your mobile device to present You with a list of contacts which You may wish to
        contact.&nbsp; You understand and agree that any promotion or use of the Services is done solely at Your
        discretion and that You will not receive anything of value from Us based on Your unilateral promotion of the
        Services or for Your requests to Your contacts that they use the App or Services.&nbsp; Any e-mail or text that
        You send from within the App originates from You, not Us.</p>

    <p>&nbsp;</p>

    <p><strong>3.8.1.&nbsp;&nbsp;&nbsp;&nbsp; </strong>By using such features, including any SNS integration or sending
        e-mail or other messages to Your address book contacts or any other number, You expressly give Us permission to
        access the required accounts and/or locations on Your device necessary for Us to assist You in promoting, using,
        or otherwise informing Your third party contacts about the Services.</p>

    <p>&nbsp;</p>
    <ol>
        <li><strong>4.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>SPECIFIC RESTRICTIONS ON YOUR CONTENT AND YOUR USE OF
            THE APP AND SERVICES</strong></li>
    </ol>
    <p>The app and Services may contain messaging or other communication facilities designed to allow You to communicate
        with the Internet community, an individual, or with a group.&nbsp; Among other actions, when using the App and
        Services to transmit Your Content, You agree that You will not post, send, submit, publish, or transmit any
        material that:</p>

    <p><strong>4.1.&nbsp;&nbsp;&nbsp;&nbsp; </strong>You do not have the right to post, including proprietary material
        of any third party, such as files containing software or other material protected by intellectual property laws
        (or by rights of privacy or publicity);</p>

    <p><strong>4.2.&nbsp;&nbsp;&nbsp;&nbsp; </strong>advocates illegal activity or discusses an intent to commit an
        illegal act or an act of terrorism;</p>

    <p><strong>4.3.&nbsp;&nbsp;&nbsp;&nbsp; </strong>is vulgar, obscene, pornographic, or indecent;</p>

    <p><strong>4.4.&nbsp;&nbsp;&nbsp;&nbsp; </strong>threatens or abuses others, libels, defames, invades privacy,
        stalks; or is racist, abusive, harassing, threatening or offensive;</p>

    <p><strong>4.5.&nbsp;&nbsp;&nbsp;&nbsp; </strong>seeks to exploit or harm children by exposing them to inappropriate
        content, asking for personally identifiable details or otherwise;</p>

    <p><strong>4.6.&nbsp;&nbsp;&nbsp;&nbsp; </strong>harvests or otherwise collects information about others, including
        e-mail addresses, without their owners&rsquo; consent;</p>

    <p><strong>4.7.&nbsp;&nbsp;&nbsp;&nbsp; </strong>duplicates or makes any part of the App or Services available to
        others without Our authorization;</p>

    <p><strong>4.8.&nbsp;&nbsp;&nbsp;&nbsp; </strong>circumvents any encryption or other security mechanisms used
        anywhere in the App or Services;</p>

    <p><strong>4.9.&nbsp;&nbsp;&nbsp;&nbsp; </strong>violates any law or may be considered to violate any law, including
        all export control laws;</p>

    <p><strong>4.10.&nbsp; </strong>impersonates or misrepresents your connection to any other entity or person or
        otherwise manipulates headers or identifiers to disguise the origin of the content;</p>

    <p><strong>4.11.&nbsp; </strong>falsifies or deletes any author attributions, legal or other proper notices or
        proprietary designations or labels of the origin or source of software or other material contained in a file
        that is permissible uploaded;</p>

    <p><strong>4.12.&nbsp; </strong>advertises any commercial endeavor (e.g., offering for sale products or services) or
        otherwise engages in any commercial activity (e.g., conducting raffles or contests, displaying sponsorship
        banners, and/or soliciting goods or services) except as may be specifically authorized on this Site;</p>

    <p><strong>4.13.&nbsp; </strong>solicits funds, advertisers or sponsors;</p>

    <p><strong>4.14.&nbsp; </strong>includes programs that contain viruses, worms and/or Trojan horses or any other
        computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer
        software or hardware or telecommunications, including those of the Site or Services;</p>

    <p><strong>4.15.&nbsp; </strong>contains hyper-links to other sites that contain content that falls within the
        descriptions set forth above.</p>

    <p><strong>4.16.&nbsp; </strong>You may not obtain or attempt to obtain any materials, content, or information
        through any means not intentionally made available or provided for through the App or Services.&nbsp; For
        example, You may not use a screen-scraper or other automated means to access information from the Site or
        Services.</p>

    <p>We reserve the right to monitor use of this Site and Services to determine compliance with this Agreement. &nbsp;While
        we do not have an obligation to do so, We also reserve the right to remove or refuse any of Your Content for any
        reason. We also reserve the right at all times to disclose any information as necessary to satisfy any
        applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any
        information or materials, in whole or in part, in Our sole discretion. Your Content may be subject to posted
        limits on use, reproduction and/or dissemination and You are responsible for abiding by such limitations with
        respect to Your submissions, including any downloaded materials.</p>
    <ol>
        <li><strong>5.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>DISCLAIMER</strong></li>
    </ol>
    <p>You understand that We cannot, and do not, guarantee or warrant that files available for downloading from the
        Internet will be free of viruses, worms, Trojan horses or other code that may manifest contaminating or
        destructive properties, including the App or other files from the Site or Services. You are responsible for
        implementing sufficient procedures and checkpoints to satisfy Your particular requirements for accuracy of data
        input and output, and for maintaining a means external to this Site and Services for any reconstruction of any
        lost data.</p>

    <p>YOUR USE OF THIS SITE AND SERVICES, INCLUDING THE APP, IS AT YOUR OWN RISK. THE APP IS PROVIDED &ldquo;AS IS&rdquo;
        AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED. WE DISCLAIM ALL WARRANTIES, INCLUDING ANY
        WARRANTY THAT YOUR CONTENT WILL REMAIN COMPLETELY ANONYMOUS DESPITE OUR DESIRE FOR YOUR CONTENT TO BE ANONYMOUS,
        AND WE FURTHER DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR
        NON-INFRINGEMENT. WE DO NOT WARRANT THAT THE FUNCTIONS OR CONTENT CONTAINED IN OR MADE AVAILABLE BY THIS APP
        WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVER THAT MAKES
        IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. WE DO NOT WARRANT OR MAKE ANY REPRESENTATION
        REGARDING USE, OR THE RESULT OF USE, OF THE APP IN TERMS OF ACCURACY, RELIABILITY, OR OTHERWISE. THE APP OR
        SERVICES MAY INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS, AND WE MAY MAKE CHANGES OR IMPROVEMENTS AT
        ANY TIME. YOU, AND NOT US, ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION IN THE EVENT
        OF ANY LOSS OR DAMAGE ARISING FROM THE USE OF THIS SITE OR SERVICES. COMPANY MAKES NO WARRANTIES THAT YOUR USE
        OF THE SITE OR SERVICES WILL NOT INFRINGE THE RIGHTS OF OTHERS AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR
        ERRORS OR OMISSIONS IN SUCH CONTENT.</p>

    <p>To the extent that the App fails to perform as advertised, and subject to any warranty not disclaimed herein, for
        any iOS download, You may be able to notify Apple, and Apple may refund the purchase price You paid to download
        the App.&nbsp; Note that Apple is not responsible for claims regarding the use of the App, including but not
        limited to (i) product liability claims; (ii) any claim that the App fails to conform to any applicable legal or
        regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</p>

    <p>None of the warranties and representations herein apply or extend to any third person.</p>
    <ol>
        <li><strong>6.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>LIMITATION ON LIABILITY</strong></li>
    </ol>
    <p>COMPANY, ITS SUBSIDIARIES, AFFILIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS OTHER THAN YOU, EMPLOYEES,
        AGENTS, OFFICERS, AND DIRECTORS WILL NOT BE LIABLE FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL,
        CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR OTHER DAMAGES, INCLUDING LOSS OF REVENUE OR INCOME, BUSINESS INTERRUPTION,
        LOSS OF GOODWILL, PAIN AND SUFFERING, EMOTIONAL DISTRESS, OR SIMILAR DAMAGES, EVEN IF WE HAVE BEEN ADVISED OF
        THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL THE COLLECTIVE LIABILITY OF COMPANY AND ITS SUBSIDIARIES,
        AFFILIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS OTHER THAN YOU, EMPLOYEES, AGENTS, OFFICERS, AND
        DIRECTORS TO ANY PARTY (REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, OR OTHERWISE) EXCEED THE
        GREATER OF $100 OR THE AMOUNT YOU HAVE PAID TO COMPANY FOR THE APP OR SERVICES OUT OF WHICH LIABILITY AROSE.</p>

    <p><span style="text-decoration: underline;">California Residents</span>:&nbsp; You specifically waive the
        provisions of Section 1542 of the California Civil Code and any similar law of any other state, territory or
        jurisdiction. Section 1542 provides:&nbsp; &ldquo;A general release does not extend to claims which the creditor
        does not know or suspect to exist in his favor at the time of executing the release, which if known by him must
        have materially affected his settlement with the debtor.&rdquo;</p>
    <ol>
        <li><strong>7.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>INDEMNITY</strong></li>
    </ol>
    <p>&nbsp;</p>

    <p><strong>7.1.&nbsp; </strong>You agree that You will indemnify and hold Company, its subsidiaries, affiliates,
        licensors, third-party content providers, service providers, employees, agents, officers, directors, and
        contractors (the &ldquo;Indemnified Parties&rdquo;) harmless from any breach of this Agreement by You and for
        any of Your conduct via the App, Site, and Services should We be obligated to defend any claims arising from
        such conduct. You agree that the We will have no liability in connection with any such breach or unauthorized
        use, and You agree to indemnify any and all resulting loss, damages, judgments, awards, costs, expenses, and
        attorneys&rsquo; fees in connection therewith. You will also indemnify and hold Us harmless from and against any
        claims brought by third parties arising out of Your use of the App, Site, or Services.&nbsp; As explained above,
        any conduct occurring under Your account will be considered Your conduct.</p>

    <p><strong>7.2.&nbsp; </strong>You hereby discharge, acquit, and otherwise release Company, its parent company, its
        agents, employees, officers, directors, shareholders, attorneys, and affiliates, from any and all claims
        relating in any way to the use of the App and Services, including claims related to Your Content as used with
        the Services,&nbsp; including but not limited to, claims relating to the following:</p>

    <p>&nbsp;</p>

    <p><strong>7.2.1.&nbsp;&nbsp;&nbsp;&nbsp; </strong>Accomplice liability, conspiracy, aiding and abetting, sexual
        harassment, negligence, reckless conduct, intentional infliction of emotional distress, intentional interference
        with contract or advantageous business relationship, defamation, violation of the rights of privacy or
        publicity, intellectual property, misrepresentation, any financial loss, unmet expectations, false identities,
        fraudulent acts by others, invasion of privacy, release of personal information.&nbsp;</p>

    <p>&nbsp;</p>

    <p><strong>7.2.2.&nbsp;&nbsp;&nbsp;&nbsp; </strong>This release is intended by the parties to be interpreted broadly
        in favor of Company, and any ambiguity shall be interpreted as providing release of the broadest claims.&nbsp;&nbsp;
        This release is intended to be a full release of claims, and the parties acknowledge the legally binding nature
        of this provision, and the nature of the rights given up in connection therewith.&nbsp; Nothing contained in
        this section is intended to limit the scope of releases and/or indemnification contained elsewhere in this
        Agreement.</p>

    <p>&nbsp;</p>
    <ol>
        <li><strong>8.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>OUR TRADEMARKS AND COPYRIGHTS</strong></li>
    </ol>
    <p>Trademarks, service marks, logos, and copyrighted works appearing on the App, Site, and Services are the Company&rsquo;s
        property or the property of the party that provided and licensed the trademarks, services marks, logos, and
        copyrighted works to Company. We, and any party that provided trademarks, service marks, logos, and copyrighted
        works to Us, retain all rights with respect to any of their respective trademarks, service marks, logos, and
        copyrighted works appearing on this Site and Services.</p>

    <p>2B ANONYMOUS is a trademark of Company.</p>
    <ol>
        <li><strong>9.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>COPYRIGHT INFRINGEMENT AND DMCA POLICY</strong></li>
    </ol>
    <p>In providing the App and Services, We are a &ldquo;service provider&rdquo; as defined by the Digital Millennium
        Copyright Act (&ldquo;DMCA&rdquo;), 17 U.S.C. &sect; 512(k)(1).&nbsp; Therefore, We are eligible for
        certain &ldquo;safe harbors&rdquo; under the DMCA with regard to Your Content.&nbsp; We respect the intellectual
        property of our Users and of others, and We have developed the following DMCA Policy to handle claims of
        copyright infringement.</p>

    <p><strong>9.1.&nbsp;&nbsp;&nbsp;&nbsp; </strong><span style="text-decoration: underline;">How to Notify Us of Alleged Infringement</span>:&nbsp;
        If You, or any other third party visitors to the App or Site, believe that your work has been infringed by
        virtue of appearing on the Site or App, please send the following information to Our Designated Copyright Agent:
    </p>

    <p><strong>9.1.1.&nbsp;&nbsp;&nbsp;&nbsp; </strong>The identification and description of the copyrighted work that
        you believe has been infringed;</p>

    <p><strong>9.1.2.&nbsp;&nbsp;&nbsp;&nbsp; </strong>The identification and description of the material that you
        believe is infringing your copyrighted work, along with information sufficient to allow Us to locate the
        material.&nbsp; (For example, provide the URL, post, and/or file name.);</p>

    <p><strong>9.1.3.&nbsp;&nbsp;&nbsp;&nbsp; </strong>Your contact information, including your address, telephone
        number, and e-mail address;</p>

    <p><strong>9.1.4.&nbsp;&nbsp;&nbsp;&nbsp; </strong>A statement that you have a good faith belief that the use of the
        allegedly infringing material is being used in a way that is not authorized by the copyright owner, its agent,
        or the law.&nbsp; (Note that the law allows for fair use of copyrighted works, so you should evaluate the use
        for fair use prior to requesting that the material be removed.);</p>

    <p><strong>9.1.5.&nbsp;&nbsp;&nbsp;&nbsp; </strong>A statement, made under penalty of perjury, that the information
        you provided is accurate and that you are authorized to act on behalf of the copyright owner regarding the
        alleged infringement.</p>

    <p><strong>9.1.6.&nbsp;&nbsp;&nbsp;&nbsp; </strong>Your physical or electronic signature.</p>

    <p><strong>9.2.&nbsp; </strong>Presuming all information is provided and is accurate, the information in 8.1.1-8.1.5
        shall be considered a &ldquo;DMCA Notice&rdquo; under 17 U.S.C. &sect; 512(c)(3).</p>

    <p><strong>9.3.&nbsp; </strong>Please send your DMCA Notice to:</p>

    <p><a href="mailto:copyright@2banonymous.com">copyright@2banonymous.com</a></p>

    <p><strong>9.4.&nbsp; </strong>Upon receiving a valid, compliant DMCA Notice, We will expeditiously remove the
        allegedly infringing material and provide Our User with information concerning the DMCA Notice and Our
        Counter-Notification procedure.&nbsp; When appropriate, We will terminate the account of repeat infringers, per
        Our Repeat Infringer Policy.</p>

    <p><strong>9.5.&nbsp; </strong><span style="text-decoration: underline;">DMCA Counter-Notification Procedure</span>:&nbsp;
        We also provide a Counter-Notification procedure for our Users to use when they believe that a DMCA Notice was
        issued in error and which resulted in the User&rsquo;s User Content being removed.&nbsp; To submit a
        Counter-Notification, You must submit the following information, which We will then forward to the original
        complaining party who sent a DMCA Notice to Our Designated Agent:</p>

    <p><strong>9.5.1.&nbsp;&nbsp;&nbsp;&nbsp; </strong>Identification of the material that was removed or disabled, and
        the location of such material prior to its removal;</p>

    <p><strong>9.5.2.&nbsp;&nbsp;&nbsp;&nbsp; </strong>A statement made under penalty of perjury that the
        counter-notifying party believes, in good faith, that the material was removed or disabled as a result of
        mistake or misidentification;</p>

    <p><strong>9.5.3.&nbsp;&nbsp;&nbsp;&nbsp; </strong>The name, address, telephone number of the counter-notifying
        party;</p>

    <p><strong>9.5.4.&nbsp;&nbsp;&nbsp;&nbsp; </strong>&nbsp;A statement that the counter-notifying party consents to
        the jurisdiction of the Federal District Court for the judicial district in which the address in 9.5, above,
        sits, or, if the counter-notifying party&rsquo;s address is outside the United States, for any judicial district
        in which We may be found, and, that the counter-notifying-party will accept service of process from the person
        who initially provided the DMCA Notice to Us, or that person&rsquo;s agent.</p>

    <p><strong>9.5.5.&nbsp;&nbsp;&nbsp;&nbsp; </strong>The physical or electronic signature of the counter-notifying
        party.</p>

    <p><strong>9.6.&nbsp; </strong>Please send the counter-notification to the DMCA Agent address listed above.</p>

    <p><strong>9.7.&nbsp; </strong>Upon receipt of a valid counter-notification by one of Our Users, We will provide the
        counter-notification to the person who initially provided the DMCA Notice.&nbsp; Thereafter, within ten to
        fourteen (10-14) days of Our receipt of the counter-notification, We will replace the removed material, so long
        as We, or Our Designated Agent, have not received notice that the original claimant (who submitted the DMCA
        Notice) has filed an action seeking a court order to restrain Our User from engaging in the allegedly infringing
        activity.</p>

    <p><strong>9.8.&nbsp; </strong>We may modify this DMCA policy as required by Our own operating policies and changes
        in the relevant law.</p>
    <ol>
        <li><strong>10.&nbsp; </strong><strong>SECURITY</strong></li>
    </ol>
    <p>The use or distribution of tools designed for compromising security (e.g., password guessing programs, cracking
        tools or network probing tools) is strictly prohibited. If You, or Your account, become involved in any
        violation of system security We reserve the right to release Your details and any other content to law
        enforcement.&nbsp; We reserve the right to fully cooperate with any law enforcement authorities or court order
        requesting or direction Us to disclose the identity of anyone violating this Agreement. BY ACCEPTING THIS
        AGREEMENT YOU WAIVE AND HOLD THE COMPANY HARMLESS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY THE COMPANY
        DURING OR AS A RESULT OF ITS INVESTIGATIONS AND/OR FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY
        EITHER THE COMPANY OR LAW ENFORCEMENT AUTHORITIES.</p>
    <ol>
        <li><strong>11.&nbsp; </strong><strong>MISCELLANEOUS PROVISIONS</strong></li>
    </ol>
    <p><strong>11.1. </strong>No joint venture, partnership, employment, or agency relationship is created between Us
        based on Your use of the App or Services.</p>

    <p><strong>11.2. </strong>Notice:&nbsp; Any notice required under this Agreement may be provided to Us via e-mail to
        the following address: customerservice@2banonymous.com.&nbsp; You agree that any notice We must provide to You
        under this Agreement may be sent to the then-current e-mail address provided in Your account profile.&nbsp;</p>

    <p><strong>11.3. </strong>Force Majeure: You understand and agree that We shall not be responsible for any failure
        to provide the Site or Services based on unforeseen circumstance which are our of Our control, including but not
        limited to: acts of God, such as flood, fire, earthquakes, hurricanes, storms or other natural disasters;
        hacking; failure of Our upstream providers or Your own communication providers; or the failure of hardware or
        software.</p>

    <p><strong>11.4. </strong>Dispute Resolution:&nbsp; This Agreement, and all matters arising out of it, will be
        governed and interpreted pursuant to the laws of Florida, notwithstanding any principles of conflicts of law.
        &nbsp;If any dispute between Us may be brought in court, You specifically consent to exclusive personal
        jurisdiction and venue in Orange County, Florida&rsquo;s state and federal courts in connection with any dispute
        between Us arising out of this Agreement.&nbsp; You agree that this choice of venue and forum is mandatory and
        not permissive, and that the only location for any litigation permitted under this Agreement will be Orange
        County, Florida, and all parties hereto waive any right to assert the doctrine of forum non-conveniens or
        similar doctrines, or to object to jurisdiction or venue in Orange County, Florida.</p>

    <p><strong>11.4.1.&nbsp; </strong>Notwithstanding the foregoing, if a dispute between You and Us arises out of the
        terms of this Agreement, the parties shall first meet and negotiate in a good faith attempt to resolve the
        dispute.</p>

    <p><strong>11.5. </strong>California residents may reach the Complaint Assistance Unit of the Division of Consumer
        Services of the Department of Consumer Affairs at http://www.dca.ca.gov/about_dca/contactus.shtml</a>.
    </p>

    <p><strong>11.6. </strong>If any part of this Agreement is unlawful, void or unenforceable, that part will be deemed
        severable and will not affect the validity and enforceability of any remaining provisions.&nbsp; All covenants,
        representations, warranties, and agreements make by You shall survive the termination of this Agreement.</p>

    <p><strong>11.7. </strong>The failure by either party to enforce any provision of this Agreement will not be deemed
        a waiver of future enforcement of that or any other provision, and no waiver of one breach will constitute a
        waiver of subsequent breaches of the same or of a different nature.</p>

    <p><strong>11.8. </strong>The rights and liabilities of the parties hereto will bind and inure to the benefit of
        their respective assignees, successors, executors, and administrators, as the case may be. However, neither this
        Agreement nor any rights granted hereunder may be sold, leased, assigned or otherwise transferred, in whole or
        in part by You, and any such attempt shall be void.</p>

    <p><strong>11.9. </strong>This Agreement constitutes the entire agreement among the parties relating to this subject
        matter and supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or
        written between Us with respect to the App, Site and Services and Your use thereof.</p>

    <p>&nbsp;</p>
</div>